*{
    padding: 0;
    margin: 0;
    position: relative;
}

#background {
    height: 100vh;
    bottom: 100px;
}

/* auto scale bg img to fit browser */
html {
    background: url(assets/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* main character*/
#stickman {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
}

/* .animate {
    animation: jump 400ms;
} */

/* allows stickman to jump/how high to jump */
/* @keyframes jump {
    0%{top: 150px;}
    40%{top: 100px;}
    80%{top: 100px;}
    100%{top: 150px;}
} */

/* all obstacles */
#spike-A {
    width: 50px;
    height: 50px;
    position: relative;
    top: 800px;
    left: 300px;
}

#spike-B {
    width: 50px;
    height: 50px;
    position: relative;
    top: 800px;
    left: 450px;
}

#spike-D {
    width: 50px;
    height: 50px;
    position: relative;
    top: 800px;
    left: 1200px;
}

#spike-B2 {
    width: 50px;
    height: 70px;
    position: relative;
    top: 800px;
    left: 240px;
}

#movingSpike {
    width: 45px;
    height: 50px;
    position: relative;
    top: 800px;
    left: 445px;
}

#movingSpike2 {
    width: 45px;
    height: 50px;
    position: relative;
    top: 800px;
    left: 450px;
}

#movingSpike3 {
    width: 45px;
    height: 50px;
    position: relative;
    top: 800px;
    left: 600px;
}

#finish-line {
    width: 150px;
    height: 150px;
    position: relative;
    top: 800px;
    left: 1500px;
}