*{
    padding: 0;
    margin: 0;
}

/* auto scale bg img to fit browser */
html {
    background: url(assets/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#stickman {
    width: 80px;
    height: 80px;
    position: relative;
    top: 600px;
}

#spike-A {
    width: 50px;
    height: 50px;
    position: relative;
    top: 480px;
    left: 300px;
}

#spike-B {
    width: 50px;
    height: 50px;
    position: relative;
    top: 480px;
    left: 450px;
}

/* #spike-C {
    width: 50px;
    height: 50px;
    position: relative;
    top: 480px;
    left: 200px;
} */

#spike-D {
    width: 50px;
    height: 50px;
    position: relative;
    top: 480px;
    left: 1200px;
}

#finish-line {
    width: 150px;
    height: 150px;
    position: relative;
    top: 480px;
    left: 1500px;
}

#spike-B2 {
    width: 50px;
    height: 70px;
    position: relative;
    top: 480px;
    left: 240px;
}

#spike-A2 {
    width: 50px;
    height: 50px;
    position: relative;
    top: 300px;
    right: 150px;
}

#movingSpike {
    width: 45px;
    height: 50px;
    position: relative;
    top: 480px;
    left: 445px;
}

#movingSpike2 {
    width: 45px;
    height: 50px;
    position: relative;
    top: 480px;
    left: 450px;
}

#movingSpike3 {
    width: 45px;
    height: 50px;
    position: relative;
    top: 480px;
    left: 600px;
}